<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::html-head('Refuelings')">
</head>
<body>
<header th:replace="layout::site-header"></header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Refuelings
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" th:href="@{/refueling/add}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h1>

            <table th:unless="${#lists.isEmpty(refuelings)}" class="table table-striped table-hover">
                <thead>
                <th class="col-xs-4 col-sm-2 col-lg-1">Actions</th>
                <th class="col-xs-4 col-sm-2 col-lg-1">Kilometers</th>
                <th class="col-xs-4 col-sm-2 col-lg-1">Amount</th>
                <th class="col-xs-4 col-sm-2 col-lg-1">Cost</th>
                </thead>
                <tbody>
                <tr th:each="refueling:${refuelings}">
                    <td>
                        <a th:href="@{/refueling/{id}/edit(id=${refueling.id})}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a th:href="@{/refueling/{id}/delete(id=${refueling.id})}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td>
                        <!--<span th:text="*{refueling.kilometers}"></span>-->
                    </td>
                    <td>
                        <span th:text="*{refueling.liters}"></span>l
                    </td>
                    <td>
                        <!--<span th:text="*{refueling.cost}"></span>&euro;-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout::site-footer"></footer>
</body>
</html>