<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::html-head('Cars')">
</head>
<body>
<header th:replace="layout::site-header"></header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Cars
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" th:href="@{/cars/add}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h1>

            <table th:unless="${#lists.isEmpty(cars)}" class="table table-striped table-hover">
                <thead>
                <th class="col-xs-4 col-sm-2 col-lg-1">Actions</th>
                <th class="col-xs-4 col-sm-2 col-lg-1">Name</th>
                </thead>
                <tbody>
                <tr th:each="car:${cars}">
                    <td>
                        <a th:href="@{/cars/{id}/edit(id=${entry.id})}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a th:href="@{/cars/{id}/delete(id=${entry.id})}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="*{car.name}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout::site-footer"></footer>
</body>
</html>